.title_signup {
    /* color: red; */
}

.grid_1 {

}

.grid_item1 {
    /* width: 1000px !important;
    background-color: red; */
}

.flex_1 {
    /* background-color: red; */
}

.stack_1 {
    width: 200px !important;
}

input {
    border-radius: 10px !important;    
}

input:hover{
    border-color:#718096 !important;
}

@media screen and (max-width: 1015px) {
    /* .big_box {
        width: 1015px;
        background-color: red;
    } */
}